body {
  margin: 0;
  padding: 0;
}

/* Header Component */

.header-div{
  display: flex;
  min-width: 100vh;
  background-color: #eee;
}

.header-div-h1{
  width: 60%;
  align-items: left;
  padding-left: 35px;
}

.header-div-pages{
  width: 30%;
  justify-content: space-around;
  display: inline-flex;
  padding: 20px;
}

.header-div-buttons {
  display: grid;
  align-items: right;
  padding: 20px;
  gap: 10px;
  
}

/* Columns Component */

.column-container {
  display: flex;
  text-align: center;
  padding: 10px;
  gap: 10px;
}

.column-middle {
  flex: 50%;
  height: 100vh;
  border: 1px solid black;
  border-radius: 5px;
  gap: 10px;
}


/* Right Side Component */

.column-box{
  display: flex;
}

.column-itens{
  flex: 50%;
}

.column-button{
  margin: 10px 1px;
}
